h1, h2, h3, h4, h5, h6, p, span, ul, li, tr, td, th, table
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

a
{
	text-decoration: none;
	color: #000;
}

img
{
	border: 0px;
}

body
{
	margin: 0px;
	background-color: #abcffd;
	background-image: url(../../webroot/img/bg-site.jpg);
	background-repeat: repeat-x;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#content
{
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#topo
{
	width: 100%;
	height: 160px;
	background-color: #fff;
	float: left;
}

.barra-top
{
	width: 100%;
	height: 30px;
	background: url(../../webroot/img/bg_menu.jpg);
	background-repeat:repeat-x;
	float: left;
}

.logo
{
	width: 100%;
	height: 100px;
	float: left;
}

.logo img
{
	margin: 5px;
	float: right;
	margin-right: 40px;
}

.text-logo
{
	margin-left: 10px;
	width: 602px;
	height: auto;
	float: right;
	margin-right: 100px;
}

.logo span
{
	font-weight: bold;
	font-size: 24px;
	margin-top: 30px;
	display: block;
	text-align: center;
}

.sub-titulo
{
	display: block;
	font-size: 16px !important;
	font-weight: normal !important;
	margin-top: 0px !important;
	text-align: center;
}

#menu
{
	width: 100%;
	height: 44px;
	margin-bottom: 20px;
	float: left;
}

/**/
#meio
{
	width: 100%;
	height: auto;
	background-color: #f5f5f1;
	padding-bottom: 20px;
	float: left;
}

.sub-menu
{
	width: 880px;
	height: auto;
	margin: 20px 10px 0px 10px;
	float: left;
	background: url(../../webroot/img/bg_menu.jpg);
	background-repeat: repeat-x;
}

.sub-menu .bg
{
	width: 220px;
	height: auto;
	font-size: 14px;
	padding: 7px 0px 7px 5px;
	color: #fff;
	font-weight: bold;
	background: url(../../webroot/img/bg_menu.jpg);
	background-repeat:repeat-x;
	float: left;
}

.sub-menu .acao
{
	width: 115px;
	height: auto;
	background: #8db6d7;
	text-align: center;
	padding: 7px 0px 7px 0px;
	float: left;
}

.sub-menu .acao a
{
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

.sub-menu .acao a:hover
{
	text-decoration: underline;
}

.sub-menu .active
{
	background: #607b8b;
	padding-top: 15px;
	padding-bottom: 15px;
}

.sub-menu .barra-bg
{
	width: 425px;
	height: 30px;
	background: url(../../webroot/img/bg_menu.jpg);
	background-repeat:repeat-x;
	float: right;
}

/**/
.meio-conteudo-borda
{
	width: 848px;
	height: auto;
	margin: 0px 10px 0px 10px;
	border: 1px solid #d9d9d9;
	padding: 15px;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

/**/
.meio-conteudo
{
	width: 826px;
	height: auto;
	padding: 10px;
	border: 1px solid #4297d7;
	background: #6ea7d1;
	
	/* css 3 */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

/**/
.conteudo-ft
{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 15px;
}

.conteudo-ft .bloco-ft
{
	width: auto;
	height: auto;
	margin-bottom: 10px;
	margin-right: 15px;
	float: left;
}

.conteudo-ft label
{
	display: block;
	color: #fff;
	margin-bottom: 5px;
}

/* estilo para text edit */
.text-edit
{
	height: auto;
	border: 1px solid #999;
	padding: 4px;
	float: left;
}

.conteudo-ft .listbox
{
	padding: 3px !important;
	width: 190px !important;
}

.conteudo-ft .box-botao
{
	width: 100%;
	height: auto;
	float: left;
}

/* botao */
.botao-filtro
{
	width: auto;
	height: auto;
	padding: 4px 10px;
	background-color: #607B8B;
	color: #fff;
	border: 1px solid #607B8B;
	cursor: pointer;
	
	/* css 3 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/**/
.conteudo-pg
{
	width: 100%;
	height: auto;
	float: left;
}

.conteudo-pg .info-pg
{
	width: auto;
	float: left;
	height: auto;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 10px;
}

.conteudo-pg .paginacao
{
	width: auto;
	height: auto;
	float: right;
	margin-bottom: 10px;
}

.conteudo-pg .botoes-pg a
{
	color: #fff;
	font-weight: bold;
}

.conteudo-pg .botoes-pg a:hover
{
	text-decoration: underline;
}

.conteudo-pg .botoes-pg
{
	width: 80px;
	height: auto;
	float: left;
	text-align: center;
	background-color: #95bfe0;
	padding: 5px 0px;
	color: #fff;
}

.radios-left
{
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;	
}

.radios-right
{
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;	
}

/**/
.conteudo-rg
{
	width: 100%;
	height: auto;
	float: left;
}

.tabela-rg .menu-rg
{
	background-color: #eff6fd;
	height: 30px;
}

.tabela-rg .menu-rg th
{
	font-size: 13px;
	color: #536eaf;
	font-weight: bold;
	padding: 5px;
	border-bottom: 1px solid #6ea7d1;
	border-right: 1px solid #6ea7d1;
}

.tabela-rg .listar-rg td
{
	padding: 10px 5px;
	border-bottom: 1px solid #6ea7d1;
	border-right: 1px solid #6ea7d1;
}

.tabela-rg .listar-rg td img
{
	cursor: pointer;
}

.no-borda-right
{
	border-right: none !important;
}

.tabela-rg .listar-rg
{
	background-color: #fff;
	padding: 20px 0px;
	height: 60px;
	text-align: center;
	padding: 5px;
}

.tabela-rg .listar-rg a
{
	font-size: 13px;
}

.tabela-rg .listar-rg a:hover
{
	color: #607B8B;
	font-size: 13px;
	text-decoration: underline;
}

.tabela-rg .active-tr
{
	background-color: #e2e4ff !important;
}

/**/
#rodape
{
	width: 100%;
	height: 100px;
	background-image: url(../../webroot/img/bg-rodape.jpg);
	background-repeat: repeat-x;
	float: left;
}

#rodape span
{
	display: block;
	text-align: center;
	margin-top: 45px;
	color: #fff;
}

/**/
.no-acao
{
	margin-bottom: 15px;
}

/**/
.print-vs
{
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	float: left;	
}

.print-vs span
{
	width: auto;
	height: auto;
	color: #fff;
	padding: 4px 10px;
	background-color: #607B8B;
	border: 1px solid #607B8B;
	cursor: pointer;
	margin-left: 5px;
	
	/* css 3 */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: right;
}

.print-vs span a
{
	color: #fff;
}

.tabela-vs .marcador-vs
{
	color: #fff;
	font-weight: bold;
	height: 30px;
	background-color: #607B8B;
}

.tabela-vs .marcador-vs td
{
	font-size: 13px;
	padding: 5px;
}

.tabela-vs .dados-vs
{
	color: #333;
	background-color: #fff;
}

.tabela-vs .dados-vs td
{
	height: 20px;
	padding: 8px 5px;
}

.tabela-vs .label-vs
{
	width: 90px;
	font-weight: bold;
	text-align: right;
}

/* div contador */
.contador
{
	width: auto;
	background-color: #f1f1f1;
	height: auto;
	margin-left: 5px;
	padding: 5px 10px;
	float: left;
}

/* mensagem de erro do sistema */
.mensagem-sistema
{
	width: 804px;
	height: auto;
	background-color: #fff;
	border: 1px dashed #607B8B;
	padding: 10px;
	text-align: center;
	float: left;
	margin-bottom: 10px;
}

.mensagem-sistema span
{
	font-weight: bold;
	font-size: 13px;
}

.erro-s
{
	color: #990000;
	border: 1px dashed #990000;
}

.conf-s
{
	color: #009900;
	border: 1px dashed #009900;
}

/* mensagem de erro text field */
.text-erro
{
	border: 1px solid #990000;
	background-color: #FFCCCC;
}

/* tela de login */
.ajustes
{
	width: 360px !important;
}

.no-bg
{
	background: none !important; 
}

.login
{
	width: 360px;
	height: auto;
	float: left;
}

.login span
{
	display: block;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}

#form-login
{
	width: 318px;
	height: auto;
	border: 1px solid #eaeaea;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	box-shadow:5px 5px 10px #c6c6c6;
	-moz-box-shadow:5px 5px 10px #c6c6c6;
	-webkit-box-shadow:5px 5px 10px, #c6c6c6;
	
	float: left;
}

.login label
{
	display: block;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 4px;
}

.login .input-field
{
	width: 296px;
	border: 1px solid #e6e6e6;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 14px;
}

.botao-login
{
	border: 1px solid #e3e3e3;
	padding: 8px 25px;
	background-image: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f9f9f9);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e6e6e6));
	float: right;
	cursor: pointer;
}

.erro-login
{
	width: 336px; 
	height: auto;
	border: 1px solid #db4d4d;
	margin-bottom: 20px;
	padding: 10px;
	background: #ffcccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

.erro-login span
{
	margin: 0px;
	text-align: center;
	font-size: 13px;
	font-weight: normal;
}

.center
{
	width: 100%;
	height: auto;
	text-align: center;
}

.bem-vindos
{
	width: 100%;
	height: auto;
	float: left;
	text-align: center;
}

.bem-vindos span
{
	font-weight: bold;
	color: #fff;
}

.bem-vindos p
{
	color: #fff;
	margin: 0px;
}

.no-margin
{
	margin-bottom: 0px;
}

.permissao
{
	width: 826px;
	height: auto;
	float: left;
	background: #fff;
}

.permissao ul
{
	width: 706px;
	height: auto;
	float: left;
	margin: 0px;
	padding: 0px;
	padding: 10px 0px;
}

.permissao ul li
{
	display: inline;
	font-weight: bold;
	width: 176px;
	text-align: center;
	float: left;
}

.no-paginacao
{
	#background-image: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f9f9f9);
	#background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e6e6e6));
}

.encurtar_tamanho
{
	width: 310px !important;
}